
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

    <h4>Пожалуйста заполните все данные о себе в личном кабинете</h4>

    <div>
        @Html.ActionLink("Назад", "Index")

    </div>
</form>
